@font-face {
    font-family: 'lexend';
    src: url('/static/assets/fonts/Lexend-Regular.ttf') format('truetype');
}

:root {
--primary-color: #5c0000;
--secundary-color: #ffffff;
--fill-color: #f2f2f2;
--title-color: #111111;
--subtitle-color: #555555;
--text-body-color: #333333;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lexend', Arial, sans-serif;
    background-color: var(--secundary-color);
    color: var(--text-body-color);
}
  
.img-logo-header {
    width: 2.5rem;
}
  
.header, .navigation-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.header {
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5rem;
}
  
.navigation-header {
    gap: 3rem;
    z-index: 2;
}
  
.navigation-header a {
    text-decoration: none;
    color: var(--secundary-color);
    font-weight: bold;
}
  
.navigation-header a:hover {
    text-decoration: underline;
}

.content {
    text-align: center;
    height: 100vh;
    transition: 1s;
}
  
.btn-icon-header {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--secundary-color);
    cursor: pointer;
}
  
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
  
h1 {
    font-weight: bold;
    color: var(--title-color);
}

  
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

table {
    font-family: 'lexend', Arial, sans-serif;
    background-color: var(--fill-color);
    text-align: center;
    width: 60%;
    height: 30rem;
    padding: 1rem;
    border:none;
    box-sizing: border-box;
    border-radius: 0.5rem;
    resize: none;
}

.table-container a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.table-container a:hover {
    text-decoration: underline;
}

.add-survivor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48rem;
    margin: 0 auto;
}

.add-survivor-container a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.add-survivor-container a:hover {
    text-decoration: underline;
}

a {
    color: var(--text-body-color);
    text-decoration: none;
}


.percent {
    background: #133664;
    color: white;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

.infected {
    background: #e74c3c;
    color: white;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

.non-infected {
    background: #2ecc71;
    color: white;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

input,
select {
    width: max-content;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 11pt;
}

input[type=submit] {
    width: max-content;
    background-color: #2ecc71;
    color: #ecf0f1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #27ae60;
}

input[type=submit] {
    width: max-content;
    background-color: #2ecc71;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #27ae60;
}

ul > li {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px){
    .navigation-header {
      position: absolute;
      flex-direction: column !important;
      top: 0;
      background: var(--primary-color);
      height: 100%;
      width: 35vw;
      padding: 1rem;
      animation-duration: .5s;
      margin-left: -100vw;
      text-align: center;
    }
  
    .btn-icon-header {
        display: block;
    }
  
    @keyframes showSidebar {
      from {margin-left: -100vw;}
      to {margin-left: -10vw;}
    }
  
    .title-container {
      font-size: 90%;
    }
  
    .add-survivor-container {
      width: 90%;
      margin: 0 auto;
    }
}